<form>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>
                    Área do projeto
                </label>
                <select class="form-control" name="area">
                    <option value="1">Industrial</option>
                    <option value="2">Rural</option>
                    <option value="3">Urbana</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="my-select">
                    Curso do projeto
                </label>
                <select id="my-select" class="form-control" name="course">
                    <option value="1">Análise e Desenvolvimento de Sistemas</option>
                    <option value="2">Gestão Empresarial</option>
                    <option value="3">Gestão da Produção Indústrial</option>
                    <option value="4">Gestão da Qualidade</option>
                    <option value="5">Logística</option>
                    <option value="6">Sistema para Internet</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="my-textarea">
                    Descricao Geral
                </label>
                <textarea class="form-control" name="desc_geral" rows="3"></textarea>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="my-textarea">
                    Descricao Detalhada
                </label>
                <textarea class="form-control" name="desc_detail" rows="3"></textarea>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="my-input">
                    Data
                </label>
                <input class="form-control" type="date" name="date">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="my-input">
                    Fotos ou vídeos incluídos
                </label>
                <input class="form-control-file" multiple="multiple" type="file" name="medias[]">
            </div>
        </div>
        <button class="btn btn-primary" type="button">
            Criar Projeto
        </button>
    </div>
</form>