<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" href="public/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/assets/MaterialDesign/css/materialdesignicons.css">
    <link rel="stylesheet" href="public/fonts/font.css">
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/{{ css }}.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark navCity">
        <h4 class="navbar-brand">
            <i class="mdi mdi-city-variant-outline"></i> Cidade Inteligente
        </h4>
        <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class='nav-item active'>
                    <a class='nav-link' href='main'>
                        Ver Projetos
                        <span class='sr-only'>(current)</span>
                    </a>
                </li>
                {{ buttons }}
                <li class='nav-item active'>
                    <a class='nav-link' href='src/users/logout'>
                        Sair
                        <span class='sr-only'>(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron rounded-0">
        <h1 class="display-4">
            Projeto Cidade Inteligente Fatec 2021
        </h1>
        <hr class="my-4">
        <p>
            Desenvolvido na Fatec de Lins
        </p>
    </div>

    <main>
        <div class="container-fluid mt-4">
            {{ content }}
        </div>
    </main>

    <script src="public/assets/jQuery/jquery-3.6.0.min"></script>
    <script src="public/assets/bootstrap/js/bootstrap.min"></script>
    <script src="public/assets/sweetalert2/sweetalert2.all.min"></script>
    <script src="public/js/functions"></script>
    <script src="public/js/main"></script>
</body>

</html>