td {
    vertical-align: middle !important;
}

nav.navbar.navbar-expand-lg.navCity {
    background: rgb(66, 66, 66) !important;
    color: #ffffff !important;
    padding: 40px;
}

nav.navbar.navbar-expand-lg.navCity a {
    text-decoration: none !important;
    color: #ffffff;
}

.table-areas {
    margin: 2em;
}

.thead-area {
    background: #b11116;
    color: white;
    border-radius: 20px;
}

.btn-form-area {
    background: #b11116;
    color: white;
}

.btn-form-area:hover {
    background: #b11116;
    color: white;
}

label {
    color: #545454;
}

.btn-edit-area {
    background: #494949;
    color: white;
}

.btn-edit-area:hover {
    background: #252525;
    color: white;
}

.btn-delete-area {
    background: #720909;
    color: white;
}

.btn-delete-area:hover {
    background: #410606;
    color: white;
}

.navbar-toggler {
    background: #b11116;
}

.mdi-menu {
    color: aliceblue;
    font-size: 24px;
}