.users {
    overflow-y: scroll;
    height: 215px;
    border: 1px solid #ccc;
}

.user {
    margin: 6px;
    padding: 5px 10px;
    background-color: rgb(214, 214, 214);
    cursor: pointer;
    filter: opacity(0.75);
}

.user[involved="true"] {
    background-color: #b11116;
    -moz-box-sizing: border-box;
    color: #fff;
    filter: drop-shadow(0px 0px 2px black);
}

.conteudo {
    background: #c5c5c55e !important;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.form-control {
    color: rgb(57, 87, 88);
}

.form-control option {
    background: rgb(228, 228, 228);
}

.btn-new-project,
.btn-save-project,
.btn-new-user {
    background: #b11116;
    color: white;
}

.btn-new-project,
.btn-save-project,
.btn-new-user:hover {
    background: #7d0c0f;
    color: white !important;
}

.btn-add-media {
    background: rgb(80, 80, 80);
    color: white;
}

.btn-add-media:hover {
    background: rgb(51, 51, 51);
    color: white;
}

.title_criar {
    background: #b11116;
    color: white;
    width: 70%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 5em;
    box-shadow: 0 6px 6px rgba(92, 92, 92, 0.4);
}

.title_criar hr {
    background: rgb(255, 255, 255);
    text-align: center;
}

.form-input {
    padding-left: 40px;
    width: 100%;
    line-height: 1.2;
    height: 60px;
    outline: none;
    border: none;
    background: none;
    border-bottom: solid 1px rgb(57, 87, 88);
    color: rgb(57, 87, 88);
}

.form-input:focus {
    padding-left: 40px;
    width: 100%;
    line-height: 1.2;
    height: 40px;
    outline: none;
    border: none;
    background: none;
    border-bottom: solid 1px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.form-input::placeholder {
    color: rgb(57, 87, 88);
}

.inputIcon {
    position: relative;
}

.inputIcon i {
    position: absolute;
    left: 0;
    top: 0px;
    padding: 9px 8px;
    color: rgb(57, 87, 88);
    transition: .3s;
}

.inputIcon input:focus+i {
    color: rgb(255, 255, 255);
}

.inputIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 0 4px;
}

.card-body {
    width: 100%
}

label {
    color: #b11116;
}

.mdi-menu {
    color: aliceblue;
    font-size: 24px;
}

@media screen and (max-width: 600px) {
    .title_criar {
        width: 97%;
        margin-top: 2em;
    }
    .conteudo {
        width: 100%;
    }
    h3 {
        font-size: 1.5em;
    }
}