@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

.cidade {
    background-image: url(../../img/cidade.jpg);
    background-size: cover;
    height: 90vh;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.main {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-logo-cidade {
    text-align: center;
    margin-bottom: 1em;
}

.img-logo-cidade img {
    width: 100px;
}

.painel {
    background: rgb(231, 231, 231);
    margin: 1em;
    padding: 25px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.315);
}

.btn-login {
    background: #b11116;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.btn-login:hover {
    background: #7d0c0f;
    color: white;
}

.form {
    padding: 10px;
}

.icon {
    font-size: 100px;
    color: #7d0c0f;
}

.titulo-projeto {
    color: #7d0c0f;
    font-family: 'Montserrat', sans-serif;
}

.form-check-label {
    font-family: 'Montserrat', sans-serif;
    color: rgb(61, 61, 61);
    ;
}

.esqueceu-senha {
    font-family: 'Montserrat', sans-serif;
    color: rgb(61, 61, 61);
}

.esqueceu-senha:hover {
    cursor: pointer;
}

.form-input {
    font-family: 'Montserrat', sans-serif;
    padding-left: 40px;
    width: 100%;
    line-height: 1.2;
    height: 40px;
    outline: none;
    border: none;
    background: none;
    border-bottom: solid 1px rgb(61, 61, 61);
    color: rgb(61, 61, 61);
}

.form-input:focus {
    padding-left: 40px;
    width: 100%;
    line-height: 1.2;
    height: 40px;
    outline: none;
    border: none;
    background: none;
    border-bottom: solid 1px #7d0c0f;
    color: #7d0c0f;
}

.form-input::placeholder {
    color: rgb(61, 61, 61);
    ;
}

.inputIcon {
    position: relative;
}

.inputIcon i {
    position: absolute;
    left: 0;
    top: 0px;
    padding: 9px 8px;
    color: rgb(61, 61, 61);
    ;
    transition: .3s;
}

.inputIcon input:focus+i {
    color: #7d0c0f;
    ;
}

.inputIcon.inputIconBg i {
    background-color: #aaa;
    color: rgb(61, 61, 61);
    padding: 9px 4px;
    border-radius: 4px 0 0 0 4px;
}


/* teste */

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.795);
}

@media screen and (max-width: 600px) {
    .display-4 {
        font-size: 2em;
    }
}