.btn-card {
    background: #b11116;
    color: white;
}

.btn-card:hover {
    background: #7d0c0f;
    color: white;
}

.carousel-inner>div>img,
video {
    height: 400px !important;
}

.galeria {
    background: #c5c5c55e !important;
    padding: 1em;
    margin-bottom: 1em;
}

.navbar-toggler {
    background: #b11116;
}

.navbar-toggler-icon {
    color: #ffffff;
}

@media (max-width: 600px) {
    .titulo-principal {
        font-size: 30px;
        margin-top: 14px;
    }
    .sub-titulo {
        width: 95%;
        padding: 20px;
    }
    .card {
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-brand {
        font-size: 1em;
        margin-top: auto;
        margin-bottom: auto;
    }
}