@keyframes pisca {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.title:after {
    content: "_";
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}